.aero {
  padding: 50px 10px;
  text-align: center;
  background-color: rgb(112, 96, 101);
}

.aero__title {
  text-transform: capitalize;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 700;
}

.aero__link {
  border: 1px solid palegoldenrod;
  background-color: palegoldenrod;
  padding: 5px 20px;
  border-radius: 4px;
}
