.aero {
  background-color: rgb(78, 73, 67);
  padding: 50px;
}

.aero__title {
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: white;
}

.aero__link {
  padding: 10px 50px;
  border-radius: 4px;
  background-color: palegoldenrod;
  color: grey;
}
