.welcome {
  padding: 50px 0;
  text-align: center;
  background-color: teal;
}

.welcome__title {
  margin-bottom: 30px;
  color: #fff;
}

.link-welcome{
  padding: 5px 50px;

  color: #fff;
  background-color: teal;

  border: 2px solid tomato;
  border-radius: 5px;
}